<div class="container">
    <div class"row">
        <div class="col-md-6">
            <h1>Informeu-vos</h1>
            <p>Si voleu estar al dia sobre els usos innovadors de les tecnologies de la parla i la situació del català, deixeu el vostre correu electrònic per subscriure al nostre butlletí</p>
        </div>
    </div>
</div>
</br>
<div class="container">
  <div class"row">
    <div class="col-md-6">
      <form class="call" action="https://open.dadess.cat/dataset">
        <div class="call-box-top">
          <input type="text" placeholder="Correu electrónic" name="q">
        </div>
        <div class="call-box-bottom">
          <button type="submit" class="button">Subscriu-te</button>
        </div>
      </form>
    </div>
  </div>
</div>
