<div class="container mt-5 mt-md-10 pb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mb-2">
            <h1>Informeu-vos</h1>
            <p class="hasLightTextColor">Si voleu estar al dia sobre els usos innovadors de les tecnologies de la parla i la situació del català, deixeu el vostre correu electrònic per subscriure al nostre butlletí</p>
        </div>
    </div>
    <div class="row">
        <form class="call" action="https://open.dadess.cat/dataset">
            <div class="call-box-top">
                <input type="text" placeholder="Correu electrónic" name="q">
            </div>
            <div class="call-box-bottom mt-1 mt-md-0">
                <button type="submit" class="button">Subscriu-te</button>
            </div>
        </form>
    </div>
</div>

