<div class="container mt-5 mt-md-10 pb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mb-2">
            <h1>Informeu-vos</h1>
            <p class="hasLightTextColor">Si voleu estar al dia sobre els usos innovadors de les tecnologies de la parla i la situació del català, deixeu el vostre correu electrònic per subscriure al nostre butlletí</p>
        </div>
    </div>
    <div class="row">
      <form class="call" action="https://catotron.us18.list-manage.com/subscribe/post?u=4ddff94f9cd51d97df883f3ce&amp;id=48d2497544" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div class="call-box-top">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correu electrónic" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4ddff94f9cd51d97df883f3ce_48d2497544" tabindex="-1" value=""></div>
        </div>

            <div class="call-box-bottom mt-1 mt-md-0">
                <button type="submit" class="button">Subscriu-te</button>
            </div>
        </form>
    </div>
</div>
