.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      text-transform: uppercase;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $pink;
        transition: all 0.3s ease-in;
        &:hover {
          background-color: $pink;
          color: $white;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}

.dark-bg {
  .main-menu {
    > ul {
      > li {
        > a {
          color: $white;
          &:hover {
            background-color: $white;
            color: $indigo;
          }
        }
      }
    }
  }
}
